.container {
  display: flex;
  background-color: #8889833d;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wordCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dccece;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  background-color: #c3c3b4;
  color: white;
  font-size: 24px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

button.btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 22px;
  padding: 10px 20px;
}

.speakButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.speakButton {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 22px;
  padding: 10px 20px;
}
